**/node_modules
**/.env
**/data
docs/sketch
assets
docker_images
**/*.pdf
**/*.html
**/*.out
**/*.log
***.aux
**/dist
docs/ml/lm
docs/claude\ 3.5\ sonnet\ preview
docs/config_test
docs/claude.ai
js.v1
**/tsconfig.tsbuildinfo
