MONGODB_URL="mongodb://{{MONGO_ROOT_USER}}:{{MONGO_ROOT_PASSWORD}}@qi-mongodb:27017/chat_db?authSource=admin"
HF_TOKEN="{{HF_TOKEN}}"
MODELS=`[
  {
    "name": "{{MODEL_NAME}}-{{MODEL_SIZE}}",
    "parameters": {
      "temperature": 0.7,
      "num_thread": {{OLLAMA_NUM_THREAD}},
      "num_ctx": {{OLLAMA_NUM_CTX}},
      "num_batch": {{OLLAMA_NUM_BATCH}}
    },
    "endpoints": [
      {
        "type": "ollama",
        "url": "http://ollama-service:11434",
        "ollamaName": "{{MODEL_NAME}}:{{MODEL_SIZE}}{{#if MODEL_VARIANT}}-{{MODEL_VARIANT}}{{/if}}"
      }
    ]
  }
]`