MONGODB_URL="mongodb://{{MONGO_ROOT_USER}}:{{MONGO_ROOT_PASSWORD}}@qi-mongodb:27017/chat_db?authSource=admin"
HF_TOKEN="{{HF_TOKEN}}"
MODELS=`[
  {
    "name": "{{MODEL_NAME}}:{{MODEL_SIZE}}{{#if MODEL_VARIANT}}-{{MODEL_VARIANT}}{{/if}}",
    "displayName": "DeepSeek {{MODEL_SIZE}}{{#if MODEL_VARIANT}} {{MODEL_VARIANT}}{{/if}}",
    "description": "DeepSeek Code Language Model - {{MODEL_SIZE}}{{#if MODEL_VARIANT}} ({{MODEL_VARIANT}}){{/if}} Version",
    "parameters": {
      "temperature": 0.7,
      "top_p": 0.95,
      "repetition_penalty": 1.2,
      "num_thread": {{OLLAMA_NUM_THREAD}},
      "num_ctx": {{OLLAMA_NUM_CTX}},
      "num_batch": {{OLLAMA_NUM_BATCH}},
      "tokenizer": {
        "type": "llama-bpe",
        "model": "gpt2"
      }
    },
    "endpoints": [
      {
        "type": "ollama",
        "url": "http://ollama-service:11434",
        "ollamaName": "{{MODEL_NAME}}:{{MODEL_SIZE}}{{#if MODEL_VARIANT}}-{{MODEL_VARIANT}}{{/if}}"
      }
    ]
  }
]`